# Ignorer tout
*

# Sauf ces fichiers
!.gitignore  
!README.md 
!ai-service/
!ai-service/*
!chatbot-service/
!chatbot-service/*
!chat-service/
!chat-service/*
!config-service/
!config-service/*
!discovery-service/
!discovery-service/*
!gateway-service/
!gateway-service/*
!user-service/
!user-service/*

!ms-gateway/
!ms-gateway/*
!ms-discovery/
!ms-discovery/*

!frontend/
!frontend/*